<!DOCTYPE html>
<html lang="en">

<head>
    <title>Norway Electricity Prices</title>
    <style>
        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
        }

        .error {
            color: red;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #69dadb;
            color: black;
        }

        .topnav a.active {
            background-color: #193498;
            color: white;
        }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@5.6.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/docs">FastAPI Docs</a>
    </div>

    <div id="vis"></div>

    <form action="javascript:refreshPlot()" id="price-form">
        <input type="checkbox" name="Oslo" value="NO1" />
        <label for="Oslo">Oslo</label>
        <br />
        <input type="checkbox" name="Kristiansand" value="NO2" />
        <label for="Kristiansand">Kristiansand</label>
        <br />
        <input type="checkbox" name="Trondheim" value="NO3" />
        <label for="Trondheim">Trondheim</label>
        <br />
        <input type="checkbox" name="Tromsø" value="NO4" />
        <label for="Tromsø">Tromsø</label>
        <br />
        <input type="checkbox" name="Bergen" value="NO5" />
        <label for="Bergen">Bergen</label>
        <br />

        <label for="end">End date:</label>
        <input type="date" id="end" name="end"/>

        <label for="days">Days:</label>
        <input type="number" id="days" name="days" value="7" min="0" />

        <button type="submit">Refresh</button>
    </form>

    <script type="text/javascript">
        //Set the end date to today's date
        var field = document.querySelector("#end");
        var date = new Date();
        field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0);

        //Function that runs every time user hits refresh button
        async function refreshPlot() {
            const plotUrl = new URL(
                `${document.location.protocol}//${document.location.host}/plot_prices.json`
            );

            //Get checkbox inputs and add it to url parameters
            for (checkbox of document
                .getElementById("price-form")
                .querySelectorAll("input[type=checkbox]")) {
                if (checkbox.checked) {
                    plotUrl.searchParams.append("locations", checkbox.value);
                }
            }

            //Get end date input and add it to url parameters
            var endInput = document.getElementById("end");
            if (endInput) {
                plotUrl.searchParams.append("end", endInput.value);
            } else {
                console.warn('No input with id="end"');
            }

            //Get days input and add it to url parameters
            var daysInput = document.getElementById("days");
            if (daysInput) {
                plotUrl.searchParams.append("days", daysInput.value);
            } else {
                console.warn('No input with id="days"');
            }

            //Use url with parameters to call function and fetch resulting graph
            console.log(`requesting new chart from ${plotUrl.href}`);
            var response = await fetch(plotUrl.href);
            var spec = await response.json();
            var embedOpt = { mode: "vega-lite" };
            function showError(el, error) {
                el.innerHTML =
                    '<div class="error" style="color:red;">' +
                    "<p>JavaScript Error: " +
                    error.message +
                    "</p>" +
                    "<p>This usually means there's a typo in your chart specification. " +
                    "See the javascript console for the full traceback.</p>" +
                    "</div>";
                throw error;
            }
            const el = document.getElementById("vis");
            vegaEmbed("#vis", spec, embedOpt).catch((error) =>
                showError(el, error)
            );
        }
        refreshPlot();
    </script>
</body>

</html>